html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%;
}
/* Layout */
.grid-container{
  display: grid;
  grid-template-areas: 
  'header'
  'main' 
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header{
  grid-area: header;
  background-color: #F27A1A;
}

main{
  grid-area: main;
  padding: 1rem;
}

footer{
  grid-area: footer;
  background-color: #F27A1A;
  color: #ffffff;
}

/* Common */
h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2{
  font-size: 1.6rem;
  padding: 1rem 0;
}

a{
  text-decoration: none;
}

a:hover{
  color: #ffffff;
}

ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li{
  margin-top: 1rem;
}

button{
  transition: all .3s ease-in-out;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #F27A1A solid;
  font-size: 1.6rem;
  background: #F27A1A;
  color: #ffffff;
  letter-spacing: 0.1em;
  font-family: Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

button:hover{
  background: #f78d36;
}

button.block{
  width: 100%;
}
/* Header */

header a{
  color: #333333;
}

a.brand{
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Lobster', cursive;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.top{
  align-items: center;
}

.row.center{
  justify-content: center;
}
.col-1{
  flex: 1 1 25rem
}

.col-2{
  flex: 2 1 50rem
}
/* Image */
img{
  border-radius: 0.5rem;
}

img.medium{
  max-width: 29rem;
  max-height: 100%;
  
}

img.large{
  max-width: 100%;
 
}

/* Card */
.card{
  border: 0.1rem  #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem; 
}

.card-body{
  padding: 1rem;
}

.card-body > * { 
  margin-bottom: 0.5rem;
}
.card-body a:hover{
  color: #F27A1A;
}

.card-body a{
  color: #333333;
}

.price{
  font-size: 2rem;
  color: #F27A1A;
}

/* Rating */

.rating span{
  color: #FFC000;
}

.rating span:last-child{
  color: #333333;
}

/* Alert */

.success{
  color: #20a020;
}

.danger{
  color: #FF0000;
}

.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info{
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger{
  color: #FF0000;
  background-color: #ffe0e0e0;
}

.loading-spin{
  color: #F27A1A;
  opacity: 0.8;
  text-align: center;
}